/**
 * Dev Museum Stylesheet
 *
 * Contributor: Azharul Islam Ashiq, Nazrul Islam Nayan
 * Version: 1.0.0
 */
body{
	font-family: 'Baloo Da 2', cursive;
	margin: 0;
	padding: 0;
	background: #E9EBEE;
}

::placeholder {
  color: #000;
}

/*Header section*/

.header{
	background: #003049;
	display: flex;
    align-items: center;
	padding: 0 20px;
	box-shadow: 0 8px 35px 0 rgba(0,0,0,.1);
}
.headerLeft{
	display: flex;
	align-items: center;

}
.headerRight{
	display: flex;
	align-items: center;
	margin-left: auto;
}
.search input{
	border-radius: 17px;
    margin-right: 10px;
    border: 1px solid black;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    padding: 2px 10px;
    width: 200px;
    color: #003049;
}

.search i{
	cursor: pointer;
	color: #fff;
}
.logo{
	margin: 5px 0px ;
    margin-top: 9px;
}
.logo a{
	/*font-family: 'Baloo Da 2', cursive;*/
	text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    transition: 0.3s;

}
.logo a span{
	color: #FF5733;
}

.logo:hover span{
    color: #fff;
}
.logo:hover a{
    color: #FF5733;
}
.menuBar a i{
	font-size: 25px;
    padding: 10px;
    margin: 0 10px;
    color: #fff;
}
.menuBar i{
	font-size: 22px;
    margin-right: 10px;
    color: #fff;
    margin-top: 5px;
    position: relative;
}
.search{
	margin-right: 20px;
}
.dm-notification-icon{
    color: #fff;
    margin-right: 19px;
    cursor: pointer;
    transition: .3s;
}
.dm-notification-icon:hover{
    color: #FF5733;
}
.ask{
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	transition: 0.5s;
}
.ask:hover{
	color: #FF5733;
}


/*Categories & blog section*/

.dm-blg-ctg-wrraper{
    display: flex;
    margin-top: 20px;
}
.Categories{
    width: 30%;
	margin-left: 20px;
    background: #fff;
    width: 221px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.Categories li{
	list-style: none;
	/*display: flex;*/
	margin-top: 4px;
	font-weight: 800;
	transition: .3s;
	cursor: pointer;
}
.icon-right{
	padding-right: 10px;
	font-size: 14px;
	padding-top: 6px;
}
.Categories li:hover{
	color: #FF5733;
}
.Categories h2{
	padding-top: 20px;
}

/*Blog section*/

.blog-wrraper{
	display: flex;
    align-items: center;
	width: 900px;
    height: 200px;
    background: #fff;
    padding: 20px;
    margin: 0px 20px 20px 40px;
}
.blog-wrraper img{
	height: 120px;
}

.blog-content{
	margin-left: 25px;
    margin-top: 20px;
}
.blog-content p{
	font-size: 14px;
}
.blog-content h3{
	font-size: 20px;
    margin-bottom: -10px;
    margin-top: 0px;
}
.blog-content a{
	font-size: 14px;
    font-weight: 600;
    color: #003049;
    transition: .3s;
}
.blog-content a:hover{
	color: #FF5733;
}
.blog-tegs{
	display: flex;
	margin-top: 20px;
}
.blog-tegs a{
	text-decoration: none;
    padding-right: 10px;
    color: red;
}

/*404 page*/

.wrraper404{
	width: 100%;
    height: 680px;
    background: #003049;
    margin-top: -25px;
}
.wrraper404 h1{
	margin: 0;
    text-align: center;
    font-size: 250px;
    font-weight: 900;
    padding: 0;
    padding-top: 35px;
    margin-bottom: -35px;
    color: #fff;
}

.wrraper404 h2{
	text-align: center;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-family: none;
    color: #fff;
}
.wrraper404 p{
	width: 550px;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    line-height: 25px;
    padding-top: 22px;
    font-family: none;
}
.btn404{
	text-align: center;
    margin-top: 50px;
}
.btn404 button{
	padding: 10px;
	margin: 5px;
	width: 140px;
    font-size: 14px;
    text-transform: uppercase;
    background: #ff5200;
    border: none;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    outline: none;
    transition: .3s;
    cursor: pointer;
    transition: .3s;
}
.btn404 button:hover{
    background: #fff;
    color: #ff5200;
}

/*Login page*/

.wlc_wrpr{
	background: #003049;
	height: 680px;
}
.lgn{
   display: flex;
   padding: 32px;
}
.lgn h2{
	font-size: 50px;
    padding-left: 10px;
    font-weight: normal;
    color: #fff;
}
.lgn i{
    margin: 0;
    padding: 0;
    padding-top: 58px;
    font-size: 43px;
    padding-left: 753px;
    color: #fff;
}
.hr{
	padding: 0px 30px;
	margin-top: -80px;
}
.Welcome{
	padding: 0px 40px;
}
.wlc{
	font-size: 60px;
	padding: 0px;
	margin: 0px;
    color: #fff;
}
.Welcome p{
	padding: 0;
    margin: 0;
    font-size: 31px;
    margin-top: -25px;
    color: #fff;
}
.inpt{
	text-align: center;
}
.inpt input{
	text-transform: uppercase;
    width: 300px;
    padding: 10px 11px;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 25px;
    font-weight: 700;
    margin: 5px;
    transition: 0.3s;
    outline: none;
    border: none;
}
.inpt input:hover{
	background: #FF5733;
	color: #003049;
}
.submit{
	padding: 5px 20px;
    margin-left: 234px;
    margin-top: 15px;
    border: none;
    background: #FF5733;
    font-size: 16px;
    cursor: pointer;
}

.forget-psw{
	text-align: center;
    font-size: 12px;
    margin-top: 100px;
    color: #fff;
    cursor: pointer;
}

/*Login section*/


.dm-form-warraper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #003049;
    margin: auto;
}
.dm-form-section{
    display: flex;
    background: #E9EBEE;
    width: 90%;
    min-height: 500px;
    border-radius: 25px; 
    position: relative;
   
}
.dm-warraper-left{
    width: 40%;
    padding: 10px;
}
.dm-warraper-left img{
    width: 90%;
    /*padding: 20px;*/
    padding-left: 50px;
    margin-top:160px;
}
.dm-warraper-right{
    width: 60%;
    transition: .3s;
    text-align: center;
}
.dm-warraper-right h2{
    font-size: 50px;
    color: #000;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;

}
.dm-form-log{
    text-transform: uppercase;
    width: 270px;
    padding: 10px 11px;
    font-size: 17px;
    padding-left: 60px;
    letter-spacing: 2px;
    text-align: start;
    border-radius: 25px;
    font-weight: 700;
    margin: 15px;
    transition: 0.3s;
    outline: none;
    border: none;
}
.dm-submit-log{
   width: 200px;
   background: #FF5733;
   cursor: pointer;
   padding: 10px;
   border-radius: 25px;
   font-size: 15px;
   font-weight: 700;
   border: none;
   outline: none;
   margin: 10px;
}
.dm-form-control{
    position: relative;
}
.dm-form-icon{
    position: absolute;
    margin-left: 40px;
    margin-top: 13px;
}
.dm-form-ber{
    width: 80px;
    height: 30px;
    border-radius: 250px;
    background: red;
    position: absolute;
}
.dm-form-ber1{
    left: -33px;
    top: 30px;
    background: #E9EBEE;
}
.dm-form-ber2{
    left: -23px;
    top: 90px;
    background: #E9EBEE;
}
.dm-form-ber3{
    right: -33px;
    bottom:  30px;
    background: #E9EBEE;
}
.dm-form-ber4{
    right: -23px;
    bottom: 90px;
    background: #E9EBEE;
}
.dm-form-ber5{
    top: 60px;
    left: -64px;
    background: #003049;
}
.dm-form-ber6{
    bottom: 60px;
    right: -34px;
    background: #003049;
    width: 50px;
}

/*registation section*/


.dm-warraper-reg-right{
    width: 40%;
    margin-top: 160px;
    margin-right: 88px;
}
.dm-add-qsn-sec{
    margin-top: -20px;
}
.dm-warraper-reg-left h2{
    font-size: 30px;
    margin-top: 75px;
}
.dm-warraper-reg-right img{
    width: 100%;
}
.dm-warraper-reg-left{
    width: 60%;
    text-align: center;
}
.dm-form-reg-icon{
    position: absolute;
    margin-left: 40px;
    margin-top: 20px
}
.dm-form-reg input{
    text-transform: uppercase;
    width: 270px;
    padding: 10px 11px;
    font-size: 17px;
    padding-left: 60px;
    letter-spacing: 2px;
    text-align: start;
    border-radius: 25px;
    font-weight: 700;
    margin: 5px;
    transition: 0.3s;
    outline: none;
    border: none;
}

.dm-form-reg-icon{
    position: absolute;
    margin-left: 40px;
    margin-top: 12px;
}

.dm-form-reg{
    margin-bottom: 10px;
}
.dm-submit-reg{
    width: 130px;
    background: #FF5733;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 25px;
    margin-top: 30px;
}

/*Add quetion section*/

.dm-add-qsn-img img{
    width: 90%;
    padding-left: 50px;
    margin-top: 85px;
}
.dm-add-ims-section{
    background: #fff;
    height: 160px;
    border-radius: 10px;
    width: 340px;
    margin-left: 95px;
}
.dm-add-ims-section h2{
    font-size: 14px;
    padding-left: 0px;
}
.dm-add-imgs{
    display: flex;
    align-items: center;
}
.dm-add-img{
    background: #cacaca;
    border-radius: 10px;
    height: 70px;
    width: 75px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: -20px;
}
.dm-add-img i{
    font-size: 30px;
    margin-top: 10px;
}
.dm-add-img p{
    font-size: 12px;
    margin: 0;
}


/*Footer section*/

.dm-footer-wrraper{
    width: 100%;
    background: #003049;
    color: #fff;
    margin-top: 20px;
}
.dm-footer-item{
    display: flex;
    margin: 0px 20px;
}
.dm-footer-items{
    margin-right: 20px;
}
.dm-footer-items li{
    list-style: none;
    list-style: none;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    cursor: pointer;
}
.dm-footer-logo-item{
    padding: 10px 20px;
    display: inline-block;
}
.dm-footer-social i{
    font-size: 25px;
    transition: .3s;
}
.dm-footer-social i:hover{
    color: #FF5733;
}
.dm-footer-social{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;
    padding: 0;
}
.dm-footer-hr{
    margin: 20px 20px;
}
.dm-copy-right-wrraper{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.dm-copy-right-section{
    width: 50%;
    margin-left: 20px;
}
.dm-subscribe-button input{  
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    background: red;
    background: #003049;
    border-bottom: 1px solid #fff;
    padding: 12px;
}

.dm-subscribe-button button{
    padding: 12px 35px;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background: #FF5733;
    cursor: pointer;
    color: #000;
}
.dm-subscribe-button input::placeholder{
    color: #fff;
}


/*Side Ber Menu Section*/


.dm-side-menu-wrraper{
    width: 220px;
    height: 100vh;
    background: #fff;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.dm-side-menu-prfl-sec{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
}
.dm-side-menu-prfl-sec i{
    font-size: 35px;
}
.dm-side-mrnu-profile-name{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.dm-side-mrnu-profile-name h2{
    font-size: 20px;
    margin: 0px;
}
.dm-side-mrnu-profile-name h2 a{
    color: #000;
    text-decoration: none;
}
.dm-side-mrnu-profile-name p{
    font-size: 12px;
    margin: 0px;
    margin-top: -15px;
}
.dm-side-mrnu-profile-name p i{
    font-size: 20px;
    padding-left: 5px;
    cursor: pointer;
    transition: .4s;
}
.dm-side-mrnu-profile-name p i:hover{
    color: #FF5733;
}
.dm-side-menu-items li{
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid #000;
    margin-right: 20px;
    transition: .4s;
}
.dm-side-menu-items li:hover{
    padding-left: 10px;
    color: #FF5733;
}

.dm-side-menu-items li i{
    margin-right: 10px;
    cursor: pointer;
}
.dm-side-menu-items li a{
    text-decoration: none;
    margin-left: 10px;
    color: #000;
}
.dm-menuber-close-btn{
    font-size: 18px;
    margin-left: auto;
    margin-top: 6px;
    margin-right: 10px;
    display: block !important;
    color: #FF5733;
    text-align: right;
    cursor: pointer;
}
}


